
<div *ngIf="product$ | async as product">
    <h2>{{product.name}}</h2>

    <div>
        <span *ngIf="product.averageRatingNumber">
            Rating: {{product.averageRatingNumber}} / 5
        </span>
        <span *ngIf="!product.averageRatingNumber">No ratings yet!</span>
    </div>
    <div>
        <span>
            Price: {{product.price}}€
        </span>
        <span class="cart-btn" *ngIf="authenticated && productStock > 0">
            <button (click)="addToCart(product)">Add to cart</button>
        </span>
    </div>
    <div>
        <span *ngIf="productStock > 0">In stock: {{productStock}}</span>
        <span *ngIf="productStock === 0">Out of stock</span>
    </div>
    <div>
        <img [src]="product.imagePath"/>
    </div>

    <p>{{product.description}}</p>

    <div class="ratings">
        Rate product:
        <span (click)="rateProduct(1, product)">*</span>
        <span (click)="rateProduct(2, product)">*</span>
        <span (click)="rateProduct(3, product)">*</span>
        <span (click)="rateProduct(4, product)">*</span>
        <span (click)="rateProduct(5, product)">*</span>
    </div>
</div>
