<div class="header">
    <div class="menu">
        <h1>E-store</h1>
        <div>
            <span>
                <a [routerLink]="['/']">Home</a>
            </span>
            <span *ngIf="authenticated">
                | <a [routerLink]="['/cart']">Cart</a>
            </span>
            <span *ngIf="authenticated">
                | <a [routerLink]="['/orders']">Orders</a>
            </span>
        </div>
    </div>
    <div class="login">
        <a [routerLink]="['/profile']" *ngIf="authenticated" style="margin-right: 10px">{{name}}</a>
        <span (click)="logout()" *ngIf="authenticated">Logout</span>
        <span (click)="login()" *ngIf="!authenticated">Login</span>
    </div>
</div>
