
$white: #fff;
$black: black;
$orange: orange;
$yellow: #ccc21b;
$red: #950000;
$darkRed: #630000;
$green: #27aa11;
$light-grey: #bfbfbf;
$grey-50: #f1f1f1;
$grey-100: #e2e2e2;
$grey-200: $light-grey;
